{%  extends 'base.html' %}

{% block title %}Account Activation{% endblock %}

{%  block content %}
				<div class="d-flex justify-content-center">
					<h3 id="form-title">Account Activation Failed</h3>
				</div>
                <span class="forgot_pass">The Account for this user no longer exists.</span>
                <div class="mt-1">
                <div class="d-flex justify-content-center links">
						Already have an account? <a href="{% url 'login' %}" class="ml-2">Login</a>
				</div>
                </div>
{%  endblock content %}