{%  extends 'base.html' %}

{% block title %}Password Reset{% endblock %}

{%  block content %}
				<div class="d-flex justify-content-center">
					<h3 id="form-title">Password Reset Complete</h3>
				</div>
                <span class="forgot_pass">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</span>
                <p class="forgot_pass">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
                <div class="mt-1">
                <div class="d-flex justify-content-center links">
						Already have an account? <a href="{% url 'login' %}" class="ml-2">Login</a>
				</div>
                <div class="d-flex justify-content-center links">
						Don't have an account? <a href="{% url 'register' %}" class="ml-2">Sign Up</a>
				</div>

                 </div>
{%  endblock content %}