{%  extends 'base.html' %}

{% block title %}Password Reset{% endblock %}

{%  block content %}
				<div class="d-flex justify-content-center">
					<h3 id="form-title">Password Reset Sent</h3>
				</div>
                <span class="forgot_pass">Your password has been set. You may go ahead and log in to the site.</span>
				<div class="d-flex justify-content-center form_container">
					<form method="POST" action="">
                         {% csrf_token %}
							<div class="d-flex justify-content-center mt-1 login_container">
                                <input type="button" class="btn login_btn" onclick="location.href='/login'" value="Login">
				   			</div>
                <div class="mt-1">
					<div class="d-flex justify-content-center links">
						Don't have an account? <a href="{% url 'register' %}" class="ml-2">Sign Up</a>
					</div>
                 </div>


					</form>
				</div>
{%  endblock content %}